
<% if(false){%>
<div class="e-body-rightnav">
    <div class="e-body-rightnav-m-head" style="display: none;">
        Host by: <span style="font-size: 0.5em !important;">xxxxx</span>
    </div>
    <div class="e-body-rightnav-inner">
        <div class="e-rightnav-headimg">
            <!-- <img src="" alt=""> -->
        </div>
        <div class="e-rightnav-title1">
            Frontend。Backend。Product and More
        </div>
        <div class="e-rightnav-title2">
            By xxxx
        </div>
    </div>
</div>
<% } %>